{% import "_includes/forms" as forms %}

<div class="event-listing">
    <div class="toolbar">
        <div class="flex">
            <div class="flex-grow flex">
                {{ forms.dateField({
                    label: 'Start Date',
                    name: 'startDate',
                    value: now
                }) }}
            </div>
            <div class="flex-grow flex">
                {{ forms.dateField({
                    label: 'End Date',
                    name: 'endDate',
                    value: now | date_modify('+1 month')
                }) }}
            </div>
            <div class="flex-grow">
                <span class="btn">Search</span>
            </div>
            <div class="spinner invisible"></div>
        </div>
    </div>
    <hr/>
    <div class="events" v-show="events.length">
    </div>
</div>

{% js %}
new Vue({
    el: document.querySelector('.event-listing'),
    
    data() {
        {% block data %}
        var data = {{ {
            events: [],
            startDate: now | date('Y-m-d'),
            endDate: now | date_modify('+1 month') | date('Y-m-d'),
            key: craft.app.getModule('ticketmaster').getSettings().getConsumerKey,
        }|json_encode|raw }};
        {% endblock %}
        return data;
    },

    mounted: function () {
        console.log(this);
    }
});
{% endjs %}