{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Events"|t('ticketmaster') %}
{% set selectedSubnavItem = 'events' %}

{% block actionButton %}
    <a href="events/new" class="btn submit add icon" title="{{ 'New Event'|t('ticketmaster') }}">{{ 'New Event'|t('ticketmaster') }}</a>
{% endblock %}

{% block content %}
    shrug
{% endblock %}